body			{
				margin: 0;
				padding: 0;
				}


#container		{
				margin: 0 auto;
				width: 960px;
				height: 600px;
				margin-top: 20px;
				background-color: #CCC;
				}


header			{
				width: 960px;
				height: 100px;
				text-align: center;
				background-color: #999;
				}

header h1		{
				margin: 0;
				}

#memoryDiv		{
				margin: 0 auto;
				margin-top: 50px;
				width: 76px;
				height: auto;
				background-color: #FFF;
				}

#memoryDiv table	{
					border: 1px solid;
					}

#memoryDiv table td	{
					padding: 5px;
					margin: 0;
					}

