body			{
				margin: 0;
				padding: 0;
				background-image: url("pics/zelda2.jpg");
				background-repeat: no-repeat;
				}

@font-face      {
		        font-family: 'triforce';
                src: url('font/triforce.ttf');
		        }

#container		{
				margin: 0 auto;
				width: 960px;
				height: 600px;
				margin-top: 20px;
				}


header			{
				width: 960px;
				height: 150px;
				padding-top: 9px;
				}

header h1		{
				margin: 0;
				text-align: center;
				font-size: 132px;
				font-family: 'triforce', arial;
				color: #D44545;
				}

#memoryDiv		{
				margin: 50px;
				}

#memoryDiv 
table			{
				margin: 0 auto;
				border: 1px solid;
				background-color: #FFF;
				}

#memoryDiv 
table td		{
				padding: 5px;
				}

#result			{
				text-align: center;
				font-size: 32px;
				font-family: 'triforce', arial;
				color: #27AE60;
				display: block;
				margin: 0 auto;
				width: 350px;
				}

