body					{
						margin: 0;
						padding: 0;
						}

#container				{
						width: 960px;
						height: auto;
						margin: 0 auto;
						margin-top: 20px;
						}

header					{
						width: 960px;
						height: 180px;
						background-image: url("images/LMHeader.png");
						}

main 					{
						width: 860px;
						height: 400px;
						margin-top: 30px;
						padding: 50px;
						border: 2px solid #3498DB;
						border-radius: 25px 25px;
						}

#messageContainer		{
						width: 860px;
						height: 400px;
						/*background-color: #ECF0F1;*/
						}



#messageContainer textarea	{
							width: 500px;
							height: 300px;
							padding: 0;
							margin-left: 175px;
							margin-top: 50px;
							}

#messageContainer button 	{
							margin-left: 547px;
							}
						