body 				{
					margin: 0;
					padding: 0;
					}

#desktop			{
					margin: 0 auto;
					margin-top: 50px;
					position: relative;
					width: 1280px;
					height: 800px;
					background-image: url('images/banana.jpg');
					background-size: 100%;
					}

#taskbar			{
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 50px;
					background-color: #3498DB;
					}

#imgApp				{
					position: absolute;
					width: 55px;
					height: 40px;
					bottom: 4px;
					left: 1px;
					}

#imgApp:hover		{
					width: 75px;
					height: 55px;
					-webkit-transition: 0.4s ease-in-out;
					-moz-transition: 0.4s ease-in-out;
					-o-transition: 0.4s ease-in-out;
					transition: 0.4s ease-in-out;
					}

#mainWindow			{
					position: absolute;
					top: 50px;
					left: 50px;
					width: 400px;
					height: 575px;
					border-radius: 5px;
					background-color: #F39C12;
					-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.3);
					-moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.3);
					box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.3);
					}

#topBar				{
					width: 400px;
					height: 50px;
					border-radius: 5px;
					background-color: #F39C12;			
					}

#windowContainer	{
					width: 350px;
					height: 450px;
					padding: 25px;
					background-color: #ECF0F1;
					overflow-y: auto;
					overflow-x: hidden;
					}

#loadingDiv			{
					margin: 0 auto;
					width: 200px;
					height: auto;
					margin-top: 50px;
					text-align: center;
					}

#loadingGif			{
					width: 200px;
					height: 200px;
					}

#loadingText		{
					font: 16px helvetica;
					color: #777;
					}

#bottomBar			{
					width: 400px;
					height: 25px;
					border-radius: 5px;
					background-color: #F39C12;
					}

.imageFrame			{
					float: left;
					text-align: center;
					margin: 10px;
					padding: 5px;
					border-radius: 5px;
					background-color: #7EC5F5;
					}

#closeWindow		{
					position: absolute;
					top: 3px;
					right: 3px;
					width: 25px;
					height: 25px;
					}

#mainWindowIcon 	{
					position: absolute;
					top: 3px;
					left: 1px;
					width: 25px;
					height: 20px;
					}

#mainWindowText 	{
					position: absolute;
					top: 5px;
					left: 30px;
					font: 14px helvetica;
					color: #FFF;
					}