body 				{
					margin: 0;
					padding: 0;
					background-image: url('pics/zelda.png');
					background-repeat: no-repeat;
					}

@font-face      	{
		        	font-family: 'triforce';
                	src: url('font/triforce.ttf');
		        	}

#container			{
					margin: 0 auto;
					width: 960px;
					height: auto;
					margin-top: 20px;
					}

#quizDiv			{
					margin: 0 auto;
					padding: 50px;
					display: block;
					width: 400px;
					height: auto;
					}

#quizDiv 
header				{
					margin: 0;
					text-align: center;
					font-size: 48px;
					font-family: 'triforce', arial;
					color: #FFF;
					}

#questionField		{
					font: 22px helvetica;
					color: #FFF;
					}

#answerField 		{
					width: 400px;
					height: 100px;
					}

main textarea		{
					resize: none;
					border: 0;
					}

#sendButton			{
					margin: 0;
					padding: 0;
					width: 404px;
					height: 50px;
					border: 0;
					font: 16px arial;
					color: #FFF;
					background-color: #3498DB;
					}

#sendButton:hover 	{
					background-color: #2980b9;
					}

#restartButton		{
					margin-top: 5px;
					padding: 0;
					width: 404px;
					height: 30px;
					border: 0;
					font: 14px arial;
					color: #FFF;
					background-color: #D44545;
					}

#restartButton:hover	{
						background-color: #C03F3F;
						}

#resultField		{
					margin-top: 30px;
					width: 324px;
					height: auto;
					padding: 40px;
					border-radius: 10px;
					font: 16px helvetica;
					color: #2ECC71;
					text-align: center;
					background-color: #FFF;
					}